<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Encoding>UTF-8</Encoding>
        <encoder>
            <pattern>%X{sessionId} %date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="logfile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/Users/arccode/data/logs/wx-pay-sdk.log</File>
        <Encoding>UTF-8</Encoding>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>/Users/arccode/data/logs/wx-pay-sdk.log.%d{yyyy-MM-dd}</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%X{sessionId} %date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.arccode" level="INFO" additivity="false">
        <appender-ref ref="stdout"/>
        <appender-ref ref="logfile"/>
    </logger>


    <root>
        <level value="INFO"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="logfile"/>
    </root>

</configuration>

